// Variable declaration
$basic-fonts:           "Helvetica", sans-serif;

// Contrast must be sufficient, but also not too strong
$background-color:      #eee;
$foreground-color-text: #111;
$muted-text:            #444;

$separated-content-background: #ddd;

// Spacing
$top-margin:            5%;
$bottom-margin:         5%;

// Shadow configuration
$shadows:               10px 15px 15px -8px rgba(0,0,0,0.5);